*{
        font-family: Georgia;
}

body{
        background-color: #16132e;
}

img{
        width: 100%;
}

.hero-image{
        background-image: url("./Textured\ Photos/Purple\ Modern\ Texture.png");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.hero-image-two{
        background-image: url("./Textured\ Photos/Purple\ Modern\ Texture.png");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 60px;
}

.hero-text{
        font-size: 4rem;
        color: rgb(207, 228, 226);
        position: absolute;
        text-align: center;
        top: 20px;
        width: 100%;
}

.two-column{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 50px;
        width: 80%;
        margin: auto;
        margin-top: 40px;
}

.info{
        font-size: 1.25rem;

}