

body{
        background-color: #16132e;
}

.hero-image{
        background-image: url("./Textured\ Photos/Purple\ Modern\ Texture.png");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.hero-text{
        color: azure;
        position: absolute;
        text-align: center;
        top: 70px;
        width: 100%;
}